#include "Shared.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = cloud.tavitian.provenance.intents
PRODUCT_NAME = Provenance Intents
PROVISIONING_PROFILE_SPECIFIER = Provenance Intents macOS Development
INFOPLIST_KEY_CFBundleDisplayName = Provenance Intents
INFOPLIST_FILE = Intents/Resources/Info.plist
CODE_SIGN_ENTITLEMENTS = Intents/Resources/Intents.entitlements
