#include "Shared.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = cloud.tavitian.provenance.widgets
INFOPLIST_FILE = Widgets/Resources/Info.plist
CODE_SIGN_ENTITLEMENTS = Widgets/Resources/Widgets.entitlements
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_WIDGET_BACKGROUND_COLOR_NAME = WidgetBackground
